<section class="field-section col-12">
  <div class="pwa-data-grid" ng-init="form_{{ field.name }}.$records = []">

  <div>
    <button
        type="button" class="btn btn-primary" ng-show="!form_{{ field.name }}.record"
        ng-click="form_{{ field.name }}.record = {}"
    >
      Adicionar
    </button>
    <div>
      <div class="pwa-data-grid-form" ng-if="form_{{ field.name }}.record">
        {% for f in form_fields %}
          {{ render_field(field.rel.model._meta.name, f.name, prefix="form_%s." % field.name) }}
        {% endfor %}
      </div>
    </div>
  </div>
    <hr>
    <button
        type="button" class="btn btn-primary" ng-show="form_{{ field.name }}.record"
        ng-click="pwa.saveChild('{{ field.name }}')"
    >
      Gravar
    </button>

  <hr>

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          {% for f in list_fields %}
            <td>{{ f.verbose_name }}</td>
          {% endfor %}
          <th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in form_{{ field.name }}.$records" ng-click="$parent.form_{{ field.name }}.record = record">
          {% for f in list_fields %}
            {{ render_col(f) }}
          {% endfor %}
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>