<section class="field-section {% block css_class %}{% endblock %}">
  <label class="control-label">{{ field.verbose_name }}</label>
  {% block control %}
  <input
      type="{% block input_type %}text{% endblock %}"
      class="{% block field_css %}form-control{% endblock %}"
      name="{{ field.name }}"
      ng-model="{{ prefix }}record.{{ field.name }}" {% block input_attrs %}{% endblock %}
  />
  {% endblock %}
</section>
