<card>
  <field name="record_name"/>
  <field name="company_type"/>
  <field name="color"/>
  <field name="title"/>
  <field name="email"/>
  <field name="image"/>

  <div>
    <div class="card-image">
      <img :src="record.image || ((record.company_type === 'company' && '/static/admin/assets/img/no-image-company.png') || '/static/admin/assets/img/avatar.png')"/>
    </div>
    <div class="card-details">
      <strong>
        <field name="record_name"/>
      </strong>
      <ul>
        <li ng-if="record.email"><span class="fa fa-envelope fa-fw"/> <field name="email"/></li>
      </ul>
    </div>
  </div>
</card>