import orun


class AppConfig(orun.AppConfig):
    name = '{{ app_name }}'
    version = '0.1'
    auto_install = False
    installable = True
    default_language = 'en-us'
    fixtures = ['views.xml', 'actions.xml', 'menu.xml',]
    dependencies = []


addon = AppConfig()
