<html class="report">
<head>
  <link href="{{ static_path('/admin/katrid/style.css') }}"
        rel="stylesheet">
</head>
<body>

<div class="band report-title row">
  <table class="col-12">
    <tr>
      <td class="report-title-logo">
        {% if company.image %}
        <img src="{{ company.image.path }}">
        {% endif %}
      </td>
      <td>
        <h1>{{ report_title }}</h1>
        <p>{{ company.report_header }}</p>
      </td>
      <td class="text-right">
        <h4 class="report-params">{{ display_params }}</h4>
      </td>
    </tr>
  </table>
</div>


<div class="row">
  {{ content|safe }}
</div>

</body>
</html>