{% extends "admin/base.jinja2" %}
{% block body_class %}pwa-app{% endblock %}
{% block extra_head %}
  <link rel="manifest" href="{% block manifest %}/pwa/manifest.json{% endblock %}">
{% endblock %}
{% block page_loaded %}
  {{ super() }}
  <script src="/static/pwa/assets/dexie.min.js"></script>
  <script>
    let app = Katrid.Pwa.Application.bootstrap({});
  </script>
{% endblock %}
{% block additional_assets %}
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
        navigator.serviceWorker.register('{% block service_worker %}/pwa/service-worker.js{% endblock %}');
      })
    }
  </script>
{% endblock %}
