

.report-designer {

  .design-surface {
    page {
      margin-top: 8px;
      display: block;
      height: auto;
    }

    page.A3 {
      width: 297mm;
    }

    page.A3.landscape {
      width: 420mm;
    }

    page.A4 {
      width: 210mm;
    }

    page.A4.landscape {
      width: 297mm;
    }

    page.A5 {
      width: 148mm;
    }

    page.A5.landscape {
      width: 210mm;
    }

    page.letter {
      width: 216mm;
    }

    page.letter.landscape {
      width: 280mm;
    }

    page.legal {
      width: 216mm;
    }

    page.legal.landscape {
      width: 357mm;
    }

    .band {
      position: relative;
      border: 1px solid #dedede;
      border-bottom: none;
    }

    .band-name {
      background-color: #d25885;
      color: #ffffff;
      border-radius: 5px 5px 0 0;
      padding: 4px 8px;
      font-size: 8pt;
    }

    .PageHeader .band-name, .PageFooter .band-name {
      background-color: #70aac8;
    }

    .GroupHeader .band-name, .GroupFooter .band-name {
      background-color: #957fc8;
    }


    .band-designer {
      margin-bottom: 8px;

      .grab-handle {
        cursor: ns-resize;
        height: 4px;
        background-color: #adc4d5;
      }

      .band-name {
        opacity: .7;
      }

      &.selected {
        .band-name {
          opacity: 1;
        }
      }

      &.page-header {

        .band-name {
          background-color: #66a8e6;
        }
      }

      .report-object {

      }
    }

    page {
      background-color: #ffffff;
      min-height: 50px;
      border: 1px solid #979797;
      padding: 10mm;
    }

    page.A3 {
      width: 297mm;
    }

    page.A3.landscape {
      width: 420mm;
    }

    page.A4 {
      width: 210mm;
    }

    page.A4.landscape {
      width: 297mm;
    }

    page.A5 {
      width: 148mm;
    }

    page.A5.landscape {
      width: 210mm;
    }

    page.letter {
      width: 216mm;
    }

    page.letter.landscape {
      width: 280mm;
    }

    page.legal {
      width: 216mm;
    }

    page.legal.landscape {
      width: 357mm;
    }

    .report-widget {
      position: absolute;
      border: 1px dotted #c6c6c6;
    }

    .text-object {
      padding: 2px;
      display: flex;
      align-items: center;

      > span {
        width: 100%;
      }
    }

    .report-designer {
      td {
        vertical-align: top;
      }

      .data-source-area {
        width: 300px;
      }

      .data-source-tree {
        list-style: none;
        padding: 10px 0 0 0;
        margin-top: 10px;
        border-top: 1px solid #c6c6c6;

        li {

        }

        ul {
          list-style: none;
          padding-left: 16px;
        }
      }
    }

  }
}
