<templates>
  <script id="view.form.jinja2.old" type="text/ng-template">
    <div ng-form="form" class="form-view data-form"
         ng-class="{'form-data-changing': action.dataSource.changing, 'form-data-readonly': !action.dataSource.changing}"
    >
      <toolbar>
        <div>
          {#          <a href="#" onclick="event.preventDefault()" title="{{ _.gettext('Add to favorite') }}">#}
          {#            <i class="fa star fa-star-o pull-right"></i>#}
          {#          </a>#}
          {{ breadcrumbs }}
          <p class="help-block">${ ::action.info.usage }</p>
        </div>
        <div class="toolbar row">
          <div class="col-md-8">
            <button class="btn btn-primary" type="button" ng-disabled="action.dataSource.uploading"
                    ng-click="action.dataSource.save()" ng-show="action.dataSource.changing">
              {{ _.gettext('Save') }}
            </button>
            <button class="btn btn-primary" type="button" ng-disabled="action.dataSource.uploading"
                    ng-click="action.dataSource.edit()" ng-show="!action.dataSource.changing">
              {{ _.gettext('Edit') }}
            </button>
            <button class="btn btn-outline-secondary" type="button" ng-disabled="action.dataSource.uploading"
                    ng-click="action.dataSource.insert()" ng-show="!action.dataSource.changing">
              {{ _.gettext('Create') }}
            </button>
            <button class="btn btn-outline-secondary" type="button" ng-click="action.dataSource.cancel()"
                    ng-show="action.dataSource.changing">
              {{ _.gettext('Cancel') }}
            </button>

            <div class="btn-group">
              <div class="dropdown">
                <button id="attachments-button" attachments-button="" ng-show="!action.dataSource.inserting"
                        type="button" class="btn btn-outline-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true">
                  <span ng-if="!attachments.length">{{ _.gettext('Attachments') }} </span>
                  <span
                      ng-if="attachments.length">${ ::_.sprintf(_.gettext('%d Attachment(s)'), attachments.length) }</span>
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu attachments-menu">
                  <a class="dropdown-item position-relative" ng-repeat="attachment in attachments"
                     href="${ ::attachment.download_url }">
                    ${ ::attachment.name } <span
                      class="fa fa-times remove-attachment-button" title="{{ _.gettext('Delete attachment') }}"
                      ng-click="$event.preventDefault();action.deleteAttachment(attachments, $index);$event.stopPropagation();"></span>
                  </a>
                  <div role="separator" class="dropdown-divider" ng-show="attachments.length"></div>
                  <a class="dropdown-item" onclick="$(this).next().click();">
                    {{ _.gettext('Add...') }}
                  </a>
                  <input type="file" class="input-file-hidden" multiple="multiple"
                         onchange="Katrid.Services.Attachments.upload(this)"/>
                </div>
              </div>
            </div>
            <div class="btn-group">
              <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true">
                  {{ _.gettext('Action') }} <span class="caret"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-actions">
                  <a class="dropdown-item" ng-click="action.deleteSelection(true)">
                    <i class="fa fa-fw fa-trash-o"></i> {{ _.gettext('Delete') }}
                  </a>
                  <a class="dropdown-item" ng-click="action.copy()">
                    <i class="fa fa-fw fa-files-o"></i>
                    {{ _.gettext('Duplicate') }}
                  </a>
                  <a class="dropdown-item" ng-if="$parent.record.id" ng-repeat="opt in ::copyToOpts"
                     ng-click="action.copyTo(opt.id)">
                    <i class="fa fa-fw fa-files-o"></i>
                    {{ _.sprintf(_.gettext('Copy To %s'), opt.name) }}
                  </a>
                  <!-- replace-actions -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="float-right">
              <div class="btn-group pagination-area">
              <span ng-show="records.length">
                ${ action.dataSource.recordIndex + 1 } / ${ records.length }
              </span>
              </div>
              <div class="btn-group" role="group">
                <button class="btn btn-outline-secondary" type="button" ng-click="action.dataSource.prior('form')">
                  <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button" ng-click="action.dataSource.next('form')">
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </toolbar>

  </script>

  <script id="view.form.jinja2" type="text/ng-template">
    <div ng-form="form" class="form-view data-form"
         ng-class="{'form-data-changing': action.dataSource.changing, 'form-data-readonly': !action.dataSource.changing}"
    >
      <div class="content">
        <div class="clearfix"></div>
        <header class="content-container-heading">
          <div class="header-buttons">
            {{ header }}
          </div>
        </header>
        <div class="clearfix"></div>
        <div class="page-sheet">
          <div class="content container">
            <div class="card panel-default data-panel browsing"
                 ng-class="{ browsing: action.dataSource.browsing, editing: action.dataSource.changing }">
              <div class="card-body">
                <a class="maximize-button" role="button" title="Maximizar"
                   onclick="$(this).closest('div.card.data-panel').toggleClass('box-fullscreen');$(this).find('i').toggleClass('fa-compress fa-expand')">
                  <i class=" fa fa-expand"></i>
                </a>
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="view.form.dialog.modal.jinja2" type="text/ng-template">
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg form-view form-data-changing" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ caption }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body data-form data-panel">
            {{ content }}
            <div class="clearfix"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" type="button" ng-click="action.dataSource.saveAndClose()"
                    ng-show="action.dataSource.changing">
              {{ _.gettext('Save') }}
            </button>
            <button type="button" class="btn btn-secondary" type="button" data-dismiss="modal"
                    ng-show="action.dataSource.changing">
              {{ _.gettext('Cancel') }}
            </button>
            <button type="button" class="btn btn-secondary" type="button" data-dismiss="modal"
                    ng-show="!action.dataSource.changing">
              {{ _.gettext('Close') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </script>

</templates>
