<templates>
  <script id="query.manager.jinja2" type="text/ng-template">
    <form class="col-12 margin-top-16">
      <div class="row">
        <div class="col-12">
          <h4>${(query && (query.category + ' / ' + query.name)) || "Selecione a consulta"}</h4>
        </div>
        <div class="col-md-6">
          <select class="form-control" ng-model="query" ng-options="q.name group by q.category for q in queries"
                  ng-change="queryChange(query)">
          </select>
          <div class="margin-top-8 toolbar" ng-show="query">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" ng-click="action.saveSearch({ name: null })">
                {{ _.gettext('Save') }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="query-search-view" class="margin-bottom-8"></div>
          <div class="row" ng-if="query">
            <div class="col-sm-7">
              {% include "view.search.buttons.jinja2" %}
            </div>
            <div class="col-sm-5 toolbar">
              <div class="float-right">
                <div class="btn-group dropdown">
                  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true">
                    <i class="fa fa-check-double"></i> Colunas
                  </button>
                  <ul class="dropdown-menu checkbox-menu">
                    <li class="dropdown-item" onclick="event.stopPropagation();$(this).find('input').click();"
                        ng-repeat="field in ::action.search.fields">
                      <label onclick="event.stopPropagation()">
                        <input type="checkbox" ng-model="field.visible"> ${ ::field.caption }
                      </label>
                    </li>
                  </ul>
                </div>

                <div class="btn-group" role="group">
                  <button class="btn btn-outline-secondary active" type="button" title="List view"
                          ng-click="action.switchView('list')"
                  >
                    <i class="fa fa-list"></i>
                  </button>
                  <button class="btn btn-outline-secondary" type="button" title="Cube view"
                          ng-click="action.switchView('cube')"
                  >
                    <i class="fa fa-dice-d6"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="query-manager-result"></div>
    </form>
  </script>

  <script id="query.manager.table.jinja2" type="text/ng-template">
    <table class="table table-hover table-striped data-table margin-top-8">
      <thead>
      <tr>
        {% for f in fields %}
          <th class="sortable" ng-if="action.search.fields['{{ f.name }}'].visible"
              ng-click="action.orderBy('{{ f.name }}')"
          >{{ f.caption }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="record in records | orderBy : ordering : reverse">
        {% for f in query.fields %}
          <td ng-if="action.search.fields['{{ f.name }}'].visible">${ ::record['{{ f.name }}'] {{ f.filter }} }</td>
        {% endfor %}
      </tr>
      </tbody>
    </table>
  </script>

  <script id="query.manager.search.jinja2" type="text/ng-template">
    <search-view ng-show="query"/>
  </script>

	<script id="cube.jinja2" type="text/ng-template">
    <form class="col-12 margin-top-16">
      <div class="row">
        <div class="col-12">
          <h4>${(query && (query.category + ' / ' + query.name)) || "Selecione a consulta"}</h4>
        </div>
        <div class="col-md-6">
          <select class="form-control" ng-model="query" ng-options="q.name group by q.category for q in queries"
                  ng-change="queryChange(query)">
          </select>
        </div>
      </div>
      <div id="decision-cube"></div>
    </form>
  </script>
</templates>
