<templates>
  <script id="view.search.jinja2" type="text/ng-template">
    <div search-view-area class="search-area">
      <div class="search-view">
        <div class="search-view-facets">
          <div class="facet-view" ng-repeat="facet in action.searchView.facets">
            <span class="facet-label" ng-bind-html="facet.caption"></span>
            <span class="facet-value" ng-bind-html="facet.templateValue"></span>
            <span class="fas fa-times facet-remove" ng-click="action.searchView.remove($index)"></span>
          </div>
        </div>
        <input class="search-view-input" role="search" placeholder="{{ _.gettext('Search...') }}"
               ng-model="action.searchView.text">
        <span
            ng-class="{'fa-search-plus': !action.searchView.viewMoreButtons, 'fa-search-minus': action.searchView.viewMoreButtons}"
            class="search-view-more fa" ng-click="action.searchView.viewMoreButtons=!action.searchView.viewMoreButtons">
        </span>
      </div>
      <div class="col-sm-12">
        <ul class="search-dropdown-menu search-view-menu" role="menu">
          <li ng-repeat="item in action.searchView.$items">
            <a ng-if="item.expandable" class="expandable" href="#" onclick="event.preventDefault();"
               ng-mousedown="item.expanded=!item.expanded;$event.preventDefault();$event.stopPropagation();">
              <i class="fa" ng-class="{'fa-angle-down': item.expanded, 'fa-angle-right': !item.expanded}"></i>
            </a>
            <a href="#" class="search-menu-item" ng-mousedown="$event.preventDefault();$event.stopPropagation();"
               ng-click="item.select();$event.preventDefault();" ng-class="::{'indent': item.indent}">
              <span ng-if="::!item.indent" ng-bind-html="item.template"></span>
              <span ng-if="::item.indent">${ ::item.text }</span>
            </a>
            <a ng-if="item.loading" class="search-menu-item"><i>{{ _.gettext('Loading...') }}</i></a>
          </li>
        </ul>
      </div>
    </div>
  </script>

  <script id="view.search.buttons.jinja2" type="text/ng-template">
    <div class="btn-group search-view-more-area" ng-show="(action.viewType !== 'form') && action.searchView.viewMoreButtons">
      <div custom-filter class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" type="button"
                aria-expanded="false">
          <span class="fa fa-filter fa-fw"></span> {{ _.gettext('Filters') }} <span class="caret"></span>
        </button>
        {% include "view.search.menu.jinja2" %}
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" type="button">
          <span class="fa fa-bars fa-fw"></span> {{ _.gettext('Group By') }} <span class="caret"></span>
        </button>
        <div class="dropdown-menu search-view-groups-menu">

          <div>
            <div ng-repeat="group in action.searchView.groups">
              <a class="dropdown-item" ng-class="{'selected': filter.selected}" ng-repeat="filter in group"
                 ng-click="filter.toggle();$event.stopPropagation();">
                ${ filter.toString() }
              </a>
              <div class="dropdown-divider"></div>
            </div>
          </div>

          <a class="dropdown-item dropdown-search-item" onclick="event.stopPropagation();event.preventDefault();"
             ng-click="groupByExpanded=!groupByExpanded">
            <i ng-class="{ 'fa-caret-right': !groupByExpanded, 'fa-caret-down': groupByExpanded }"
               class="fa expandable"></i>
            {{ _.gettext('Add Custom Group') }}
          </a>

          <div ng-if="groupByExpanded" onclick="event.stopPropagation();event.preventDefault();">
            <div class="col-12">
              <div class="form-group">
                <select class="form-control" ng-model="fieldName" ng-change="fieldChange(action.fields[fieldName])">
                  <option value=""></option>
                  <option ng-repeat="field in action.fieldList|orderBy:'caption'" value="${ field.name }">${ field.caption
                    }
                  </option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="button" ng-click="action.searchView.addCustomGroup(action.fields[fieldName]);fieldName='';">
                  {{ _.gettext('Apply') }}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" type="button"
                aria-expanded="false">
          <span class="fa fa-star fa-fw"></span> {{ _.gettext('Favorites') }} <span class="caret"></span>
        </button>
        <div class="dropdown-menu search-favorite-menu" style="min-width: 300px">
          <a class="dropdown-item dropdown-search-item" onclick="event.stopPropagation();event.preventDefault();"
             ng-click="saveSearchExpanded=!saveSearchExpanded">
            <i ng-class="{ 'fa-caret-right': !saveSearchExpanded, 'fa-caret-down': saveSearchExpanded }"
               class="fa expandable"></i>
            {{ _.gettext('Save current search') }}
          </a>
          <div ng-if="saveSearchExpanded" onclick="event.stopPropagation();">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="saveSearch.name" placeholder="{{ _.gettext('Search name') }}">
              </div>
              <div class="form-group" ng-init="saveSearch.is_default=false;saveSearch.is_shared=true;">
                <label>
                  <input type="checkbox" ng-model="saveSearch.is_default" onclick="event.stopPropagation();">
                  {{ _.gettext("Use by default") }}
                </label>
                <label>
                  <input type="checkbox" ng-model="saveSearch.is_shared">
                  {{ _.gettext("Share with all users") }}
                </label>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="button" ng-click="action.saveSearch(saveSearch)">
                  {{ _.gettext('Save') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="view.search.menu.jinja2" type="text/ng-template">
    <div class="dropdown-menu search-view-filter-menu">
      <div>
        <div ng-repeat="group in action.searchView.filterGroups">
          <a class="dropdown-item" ng-class="{'selected': filter.selected}" ng-repeat="filter in group"
             ng-click="filter.toggle();$event.stopPropagation();">
            ${ filter.toString() }
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      <div ng-controller="CustomFilterController">
        <div ng-repeat="filter in customFilter">
          <a class="dropdown-item" ng-class="{'selected': filterItem.selected}"
             ng-click="filterItem.toggle();$event.stopPropagation();$event.preventDefault();"
             ng-repeat="filterItem in filter" ng-bind-html="filterItem.toString()"></a>
          <div class="dropdown-divider"></div>
        </div>
        <a class="dropdown-item dropdown-search-item" onclick="event.stopPropagation();event.preventDefault();"
           ng-click="customSearchExpanded=!customSearchExpanded">
          <i ng-class="{ 'fa-caret-right': !customSearchExpanded, 'fa-caret-down': customSearchExpanded }"
             class="fa expandable"></i>
          {{ _.gettext('Add Custom Filter') }}
        </a>

        <div ng-if="customSearchExpanded" onclick="event.stopPropagation();event.preventDefault();">
          <div ng-show="tempFilter.length" class="margin-bottom-8">
            <a href="#" onclick="$event.preventDefault()" class="dropdown-item"
               ng-repeat="filter in tempFilter" ng-bind-html="filter.toString()"
               title="{{ _.gettext('Remove item') }}"></a>
          </div>
          <div class="col-12">
            <div class="form-group">
              <select class="form-control" ng-model="fieldName" ng-change="fieldChange(action.fields[fieldName])">
                <option value=""></option>
                <option ng-repeat="field in action.fieldList|orderBy:'caption'" value="${ field.name }">${ field.caption
                  }
                </option>
              </select>
            </div>
            <div class="form-group">
              <ng-include src="field.paramTemplate + '.conditions'"/>
            </div>
            <div class="form-group">
              <ng-include src="field.paramTemplate" ng-show="controlVisible"/>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="button" ng-click="applyFilter()" ng-show="searchValue!==undefined">
                {{ _.gettext('Apply') }}
              </button>
              <button class="btn btn-outline-secondary" type="button"
                      ng-click="addCondition(field, condition, searchValue);fieldName='';" ng-show="searchValue">
                {{ _.gettext('Add a condition') }}
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </script>
</templates>
