<templates>
  <script id="view.list.table.jinja2" type="text/ng-template">
    <table class="table table-hover dataTable">
      <thead>
      <tr>
        {% if options.rowSelector %}
          <th class="list-record-selector">
            <input type="checkbox" ng-click="action.selectToggle($event.currentTarget)"
                   onclick="$(this).closest('table').find('td.list-record-selector input').prop('checked', $(this).prop('checked'))">
          </th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="record in {{ records }}" ng-click="{{ rowClick }}">
        {% if options.rowSelector %}
          <td class="list-record-selector" ng-if="::!record.$hasChildren" onclick="event.stopPropagation()">
            <input type="checkbox" ng-click="action.selectToggle($event.currentTarget)" data-id="${ ::record.id }"
                   onclick="if (!$(this).prop('checked')) $(this).closest('table').find('th.list-record-selector input').prop('checked', false)">
          </td>
        {% endif %}
        <td class="row-group-header" ng-if="::record.$hasChildren" colspan="2">
          <i class="indent-${ ::record.$level }">&nbsp;</i>
		      <span class="fas fa-fw fa-caret-right" ng-class="{'fa-caret-down': record.$expanded, 'fa-caret-right': !record.$expanded}"></span>
          ${ record.__str__ } (${ record.count })
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr></tr>
      </tfoot>
    </table>
  </script>

  <script id="view.list.table.total.jinja2" type="text/ng-template">
    {% if field %}
      <td class="text-right font-weight-bold">
        <ng-total field="{{ field.name }}" expr="{{ total.total }}"></ng-total>
      </td>
    {% else %}
      <td class="borderless"></td>
    {% endif %}
  </script>

  <script id="view.list.table.delete.jinja2" type="text/ng-template">
    <th class="list-column-delete" ng-show="dataSource.parent.changing && !dataSource.readonly"></th>
    <td class="list-column-delete" ng-show="dataSource.parent.changing && !dataSource.readonly"
        ng-click="removeItem($index);$event.stopPropagation();">
      <i class="fa fa-trash"></i>
    </td>
  </script>
</templates>
