<templates>

  <script id="view.list.jinja2" type="text/ng-template">
    <div class="content no-padding">
      <div class="clearfix"></div>
      <header class="content-container-heading">
        <div class="header-buttons">
          {{ header }}
        </div>
      </header>
      <div class="panel-default data-panel">
        <div class="panel-body no-padding">
          <div class="form-inline dt-bootstrap no-footer">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="view.list.th.group" type="text/ng-template">
    <th ng-show="dataSource.groups.length"></th>
  </script>

  <script id="view.list.td.group" type="text/ng-template">
    <td ng-show="dataSource.groups.length" class="group-header">
      <div ng-show="row._group">
        <span class="fa fa-fw fa-caret-right"
              ng-class="{'fa-caret-down': row._group.expanded, 'fa-caret-right': row._group.collapsed}"></span>
        ${::row._group.__str__} (${::row._group.count })
      </div>
    </td>
  </script>

  <script id="view.list.th.selector.jinja2" type="text/ng-template">
    <th class="list-record-selector">
      <input type="checkbox" ng-click="action.selectToggle($event.currentTarget)"
             onclick="$(this).closest('table').find('td.list-record-selector input').prop('checked', $(this).prop('checked'))">
    </th>
  </script>

  <script id="view.list.td.selector.jinja2" type="text/ng-template">
    <td class="list-record-selector" onclick="event.stopPropagation();">
      <input data-id="${ record.id }" type="checkbox" ng-click="action.selectToggle($event.currentTarget)"
             onclick="if (!$(this).prop('checked')) $(this).closest('table').find('th.list-record-selector input').prop('checked', false)">
    </td>
  </script>

</templates>

