<templates>
  <script id="view.list.field.jinja2" type="text/ng-template">
    <th class="{% block th_css_class %}{{ field.cssClass }}{% endblock %}">
    <span>
      {{ field.caption }}
    </span>
    </th>
    <td class="{% block td_css_class %}{{ field.cssClass }}{% endblock %}">
      {% if html %}
        {{ html }}
      {% else %}
          {% if inplaceEditor %}
          {% else %}
            {% block span %}
              <span>
              {% block span_content %}
                ${ record.{{ field.name }} }
              {% endblock %}
              </span>
            {% endblock %}
          {% endif %}
      {% endif %}
    </td>
  </script>
  <script id="view.list.selection-field.jinja2" type="text/ng-template">
    {% extends "view.list.field.jinja2" %}
    {% block span_content %}
      ${ view.fields['{{ field.name }}'].displayChoices[record.{{ field.name }}] || '{{ field.emptyText }}' }
    {% endblock %}
  </script>

  <script id="view.list.foreignkey.jinja2" type="text/ng-template">
    {% extends "view.list.field.jinja2" %}
    {% block span_content %}
      ${record.{{ field.name }}[1] }
    {% endblock %}
  </script>

  <script id="view.list.date-field.jinja2" type="text/ng-template">
    {% extends "view.list.field.jinja2" %}
    {% block span_content %}
      ${ (record.{{ field.name }}|date:'shortDate') || '{{ field.emptyText }}' }
    {% endblock %}
  </script>

  <script id="view.list.datetime-field.jinja2" type="text/ng-template">
    {% extends "view.list.field.jinja2" %}
    {% block span_content %}
      ${ (record.{{ field.name }}|date:'short') || '{{ field.emptyText }}' }
    {% endblock %}
  </script>

  <script id="view.list.time-field.jinja2" type="text/ng-template">
    {% extends "view.list.field.jinja2" %}
    {% block span_content %}
      ${ (record.{{ field.name }}|date:'shortTime') || '{{ field.emptyText }}' }
    {% endblock %}
  </script>

  <script id="view.list.numeric-field.jinja2" type="text/ng-template">
    {% extends "view.list.field.jinja2" %}
    {% block span_content %}
      ${ (record.{{ field.name }}|number:2) || '{{ field.emptyText }}' }
    {% endblock %}
  </script>

  <script id="view.list.boolean-field.jinja2" type="text/ng-template">
    {% extends "view.list.field.jinja2" %}
    {% block span_content %}
    ${ record.{{ field.name }} ? '{{ _.gettext('yes') }}' : '{{ _.gettext('no') }}' }
    {% endblock %}
  </script>

</templates>
