<search>
  {% for field in opts.searchable_fields %}
  <field name="{{ field.name }}" />
  {% endfor %}
  {% if opts.grouping_fields %}
    <group>
    {% for field in opts.grouping_fields %}
      <filter name="{{ field.name }}" caption="{{ field.caption }}"/>
    {% endfor %}
    </group>
  {% endif %}
</search>