<form>
  <fieldset class="col-12">
    <legend>Regular Fields</legend>
    <div class="row">
      <field name="char_field"/>
      <field name="char_with_def_val"/>
      <field name="int_field"/>
      <field name="positive_int_field"/>
      <field name="int_with_def_val"/>
      <field name="bool_field"/>
      <field name="sel_field"/>
      <field name="date_field"/>
      <field name="datetime_field"/>
      <field name="time_field"/>
      <field name="text_field"/>
      <field name="html_field"/>
      <field name="xml_field" cols="12"/>
    </div>
  </fieldset>
  <fieldset class="col-12">
    <legend>Required Fields</legend>
    <div class="row">
      <field name="req_char_field"/>
    </div>
  </fieldset>
  <fieldset class="col-12">
    <legend>Readonly Fields</legend>
    <div class="row">
      <field name="ro_char_field"/>
      <field name="ro_int_field"/>
      <field name="ro_bool_field"/>
      <field name="ro_sel_field"/>
      <field name="ro_date_field"/>
      <field name="ro_datetime_field"/>
      <field name="ro_time_field"/>
      <field name="ro_text_field"/>
      <field name="ro_html_field"/>
      <field name="ro_xml_field" cols="12"/>
    </div>
  </fieldset>
</form>
