{% import 'reports/report.jinja2' as report %}
{% macro includes() %}
<link href="{{report.static('/static/web/assets/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{report.static('/static/web/assets/css/font-awesome.css')}}" rel="stylesheet">
<link href="{{report.static('/static/web/api/reports/reports.css')}}"  rel="stylesheet">
<script src="{{report.static('/static/web/assets/js/jquery.min.js')}}"></script>
<script src="{{report.static('/static/web/api/reports/reports.js')}}"></script>
{% endmacro %}
