{% extends "reports/base.jinja2" %}

{% block body %}

  <header class="page-header">
    {% block page_header %}

    {% endblock %}
  </header>

    {% block title_band %}
      <div class="band report-title">
          <img id="logo" src="{{ company.base64_logo }}"/>
          <div class="float-right text-right">
          {% if company.report_header %}
            <small class="float-right">
              {{ company.report_header | linebreaks }}
            </small>
            <br/>
		      {% endif %}
            <span class="float-right">{{ date }}</span>
            <br/>
            <h2 class="float-right">
              {{ report.title }}
            </h2>
          </div>
      </div>
    {% endblock %}


  {% block report %}
	{% endblock %}

	{% block page_footer %}
	  <footer class="page-footer">
      {{(company.report_footer or company.name) | linebreaks}}
	  </footer>
	{% endblock %}

{% endblock %}
