html {
  font-family: Arial, Sans-Serif;
  font-size: 8pt;
  margin: 0;
}

body {
  color: #000000;
  margin: 0;
}

body, table td, table th {
  font-size: 8pt;
}

body {
  margin: 0;
}

.text-right {
  text-align: right;
}
.report-title h1 {
  font-size: 12pt;
}

.report-title table {
  width: 100%;
}

.report-title td {
  vertical-align: top;
}

.report-title-logo {
  width: 1px;
}

.report-title-logo img {
  margin-right: 6px;
}

.report-title-logo img {
  max-height: 80px;
  max-width: 80px;
}

@page {
  margin: 5mm 5mm 1.2cm 5mm;
  padding: 0;
}

h2 {
  font-size: 11pt;
  font-weight: 600;
}

h3 {
  font-size: 10pt;
  font-weight: 600;
}

h4 {
  font-size: 9pt;
  font-weight: 600;
}

#logo {
  max-height: 128px;
  max-width: 128px;
}

header, .report-title {
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 5mm;
  box-sizing: padding-box;
}

page {
  padding: 5mm;
  box-sizing: border-box;
  display: block;
  position: relative;
  page-break-before: always;
}

.row.band.grid:nth-child(odd) {
  padding: 3px 0;
  background-color: #e6e6e6;
}

.row.band {
  margin-right: 0;
  margin-left: 0;
}

.c3-chart-line {
  opacity: 1 !important;
}


.field.DecimalField, .field.DecimalField, .field.FloatField, .field.FloatField, .field.IntegerField,
.field.IntegerField {
  text-align: right;
}

div.band.footer {
  border-top: 1px solid #c7c7c7;
}

div.band.footer .field {
  font-weight: bold;
}

.column-header {
  color: #fff;
  background: linear-gradient(to bottom, #88b6cd, #4681b3);
  padding: 3px 0;
  font-weight: 600;
}

.table thead tr.col-header th, .col-header th {
  border: none;
  padding: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #dbe1f5;
}

table.auto-width {
  width: 1%;
}

.band.group-header {
  font-size: 11pt;
  background-color: transparent;
}

.band.group-footer {
  font-weight: bold;
  border-top: 1px solid #c6c6c6;
}

.band.group-footer table {
  width: 100%;
}
