{% extends "web/index.jinja2" %}
{% block extra_head %}
  <link rel="manifest" href="/pwa/manifest.json">
{% endblock %}
{% block additional_assets %}
  <script>
    (function() {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/pwa/service-worker.js', { scope: '.' })
          .then(reg => {
            console.log('registration', reg);
            Katrid.serviceWorker = reg;
          })
          .catch(e => {
            console.log('Service worker registration error', e);
          });
      }
    })();
  </script>
{% endblock %}
