<!DOCTYPE html>
<html {% block html_attrs %}{% endblock %} class="katrid-app">
<head>
  <title>{% block page_title %}{{ settings.ADMIN_SITE_TITLE }}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <link href="/static/admin/assets/css/fontawesome.css" rel="stylesheet">
  <!-- Katrid.js style -->
  <link href="/static/admin/katrid/style.css" rel="stylesheet" type="text/css">
  <script src="/static/admin/assets/js/underscore-min.js"></script>

  <!-- extra head -->
  {% block extra_head %}{% endblock %}
  <!-- end extra head -->
</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>

{% block content %}{% endblock %}

{% if i18n_js_catalog %}
  <script>
  {{ i18n_js_catalog }}
  </script>
{% endif %}

  <script src="/static/admin/katrid/katrid.deps.js"></script>
  <script src="/static/admin/katrid/katrid.js"></script>

{% block page_loaded %}{% endblock %}
{% block additional_assets %}{% endblock %}

</body>
{% block additional_content %}{% endblock %}
</html>
