<!DOCTYPE html>
<html>
<head>
  <title>{% block page_title %}AgroMobi Gestão{% endblock %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <link href="/static/admin/assets/js/toastr/toastr.min.css" rel="stylesheet">
  <!-- Font-awesome -->
  <link href="/static/admin/assets/css/fontawesome.css" rel="stylesheet">
  <!-- animate.css -->
  <link href="/static/admin/assets/css/animate.css" type="text/css" rel="stylesheet">
  <link href="/static/admin/assets/js/select2/select2.css" type="text/css" rel="stylesheet">
  <!-- Katrid style -->
  <link href="/static/admin/katrid/style.css" rel="stylesheet" type="text/css">

  <link href="/static/admin/assets/js/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/admin/assets/js/c3/c3.min.css" rel="stylesheet"/>
  <link href="/static/admin/assets/js/sweetalert2.css" rel="stylesheet"/>
  <link href="/static/admin/assets/js/fullcalendar/main.min.css" rel="stylesheet"/>

  <!-- extra head -->
  {% block extra_head %}{% endblock %}
  <!-- end extra head -->
</head>
<body class="{% block body_class %}{% endblock %}">

{% block content %}{% endblock %}

{% if i18n_js_catalog %}
  <script>
  {{ i18n_js_catalog }}
  </script>
{% endif %}

  <script src="/static/admin/assets/js/jquery.min.js"></script>
  <script src="/static/admin/assets/js/jquery-ui.min.js"></script>
  <script src="/static/admin/assets/js/moment/moment.js"></script>
  <script src="/static/admin/assets/js/moment/moment-duration-format.js"></script>
  <script src="/static/admin/assets/js/moment/pt-br.js"></script>
  <script src="/static/admin/assets/js/nunjucks.js"></script>
  <script src="/static/admin/assets/js/select2/select2.js"></script>
  <script src="/static/admin/assets/js/popper.js"></script>
  <script src="/static/admin/assets/js/sweetalert2.min.js"></script>
  <script src="/static/admin/assets/js/bootstrap.min.js"></script>
  <script src="/static/admin/assets/js/angular/angular.min.js"></script>
  <script src="/static/admin/assets/js/angular/angular-sanitize.min.js"></script>
  <script src="/static/admin/assets/js/hotkeys/hotkeys.min.js"></script>
  <script src="/static/admin/assets/js/jquery.inputmask.bundle.js"></script>
  <script src="/static/admin/assets/js/datepicker/bootstrap-datetimepicker.js"></script>
  <script src="/static/admin/assets/js/alasql.min.js"></script>
  <script src="/static/admin/assets/js/toastr/toastr.min.js"></script>
  <script src="/static/admin/assets/js/underscore-min.js"></script>
  <script src="/static/admin/assets/js/c3/d3.v3.min.js"></script>
  <script src="/static/admin/assets/js/c3/c3.min.js"></script>

  <script src="/static/admin/katrid/katrid.js"></script>

<!-- additional scripts -->
  {% if LANGUAGE_CODE != 'en-us' %}
    <script src="/static/admin/assets/js/angular/i18n/angular-locale_{{ LANGUAGE_CODE }}.js"></script>
    <script src="/static/admin/assets/js/select2/select2_locale_{{ LANGUAGE_CODE }}.min.js"></script>
  {% endif %}


<div id="loading-msg" class="animated fadeIn">
  <span>{{ gettext('Loading...') }}</span>
</div>
<div id="overlay" class="animated fadeIn text-center">
  <i class="fa-4x fas fa-circle-notch fa-spin"></i>
  <h3 class="margin-top-16">
    {{ gettext('Loading...') }}
  </h3>
</div>

{% block page_loaded %}{% endblock %}
{% block additional_assets %}{% endblock %}

</body>
</html>
