<!DOCTYPE html>
<html {% block html_attrs %}{% endblock %} class="{% block html_class %}katrid-app{% endblock %}">
<head>
  <title>{% block page_title %}{{ settings.ADMIN_SITE_TITLE }}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  {% block fonts %}
  <link href="/static/admin/assets/css/fontawesome.css" rel="stylesheet">
  {% endblock %}
  <!-- Katrid.js style -->
  {% block css_theme %}<link href="/static/admin/katrid/style.css" rel="stylesheet">{% endblock %}

  <!-- extra head -->
  {% block extra_head %}{% endblock %}
  <!-- end extra head -->
</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>

{% block content %}{% endblock %}

<script src="/static/admin/katrid/katrid.deps.js"></script>
{% if i18n_js_catalog %}
  <script>
  {{ i18n_js_catalog }}
  </script>
{% endif %}
<script src="/static/admin/katrid/katrid.js"></script>
<script src="/static/admin/assets/js/select2/select2.js"></script>
<link href="/static/admin/assets/js/select2/select2.css" rel="stylesheet" type="text/css">

{% block page_loaded %}{% endblock %}
{% block additional_assets %}{% endblock %}

</body>
{% block additional_content %}{% endblock %}
</html>
