{% extends "/admin/base.jinja2" %}
{% block content %}
  <div id="page-content"></div>

{% endblock %}
{% block page_loaded %}
  <script>
    // start katrid application
    let app = new Katrid.Core.WebApplication({
      el: document.getElementById('page-content'),
      menu: {{ menu }},
      userInfo: {{ user_info }},
      title: {{ settings.ADMIN_SITE_TITLE | tojson }},
    });
  </script>

  <link href="/static/admin/libs/fullcalendar/main.min.css" rel="stylesheet">
  <script src="/static/admin/libs/fullcalendar/main.min.js"></script>
  <script src="/static/admin/libs/plotly/plotly.min.js"></script>

{% endblock %}
{% block additional_assets %}
  {{ js_assets | safe }}
{% endblock %}
