{% extends "/admin/base.jinja2" %}
{% import "/admin/include/menu-utils.html" as menu_utils %}
{% block content %}
  <div id="page-content">

    <app-header id="app-header" class="navbar navbar-expand-lg navbar-dark bg-purple flex-row">
      <div class="dropdown dropdown-apps">
        <a id="apps-button" class="header-link" data-toggle="dropdown">
          <i class="fa fa-th"></i>
        </a>
        <div class="dropdown-menu apps-menu">
        </div>
      </div>

      <nav class="navbar no-padding">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="navbar-search">
          <i class="fa fw fa-search"></i>
          <input id="navbar-search" type="text" class="form-control form-control-dark typeahead"
                 placeholder="{{ _('Find resources here...') }}">
        </div>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li class="dropdown">
            <a href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" ng-show="false">{{ gettext('Shortcuts') }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-haspopup="true" aria-expanded="true">
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="dropdown-toggle nav-link" href="javascript:void(0);" data-action="messages"
               title="View notifications"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell"></i>
              <!--
              <span class="label label-warning label-menu-corner">32</span>
              -->
            </a>
            <ul class="dropdown-menu dropdown-notifications-menu">
            </ul>

          </li>
          <li class="nav-item d-none d-sm-block">
            <a class="nav-link" href="javascript:void(0);" data-action="fullScreen" title="Full Screen"
               onclick="Katrid.UI.toggleFullScreen()">
              <i class="fa fa-arrows-alt"></i>
            </a>
          </li>
          <li class="nav-item user-menu dropdown">
            <a class="nav-link dropdown-toggle" href="#">
              <img class="user-avatar" src="/static/admin/assets/img/avatar.png"> <span/>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"><i class="fa fa-fw"></i> {{ _('Preferences') }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/web/logout/"><i class="fa fa-lg fa-fw fa-sign-out-alt"></i> {{ _('Logout') }}</a>
            </div>
          </li>
        </ul>
      </div>
    </app-header>


    <div id="main-content" role="main">
      <div id="action-view" ng-controller="AppController"></div>
      {#    <div ui-view id="katrid-action-view">#}
      {#      <h4 id="h-loading" class="ajax-loading-animation"><i class="fa fa-refresh fa-spin"></i> <span ng-bind="::_.gettext('Loading...')"></span></h4>#}
      {#    </div>#}
    </div>
    <!-- /container -->

  </div>

{% endblock %}
{% block page_loaded %}
  <script>
    // start katrid application
    Katrid.Core.WebApplication.bootstrap({
      templates: '/web/js/templates/',
      menu: {{ menu }},
      userInfo: {{ user_info }},
    });
  </script>

  <script>
 </script>
  <script>
    let items = [];
    $('.menu-item>a').each(function (idx, el) {
      el = $(el);
      items.push({href: el.attr('href'), name: el.text().trim()});
    });
  </script>

  {# plotly #}
  {#  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>#}

{% endblock %}
