{% extends "/admin/base.jinja2" %}
{% block content %}
  <div id="page-content"></div>

{% endblock %}
{% block page_loaded %}
  <script>
    // start katrid application
    let app = new Katrid.Core.WebApplication({
      el: document.getElementById('page-content'),
      menu: {{ menu }},
      userInfo: {{ user_info }},
      title: {{ settings.ADMIN_SITE_TITLE | tojson }},
    });
  </script>

  <script>
    let items = [];
    $('.menu-item>a').each(function (idx, el) {
      el = $(el);
      items.push({href: el.attr('href'), name: el.text().trim()});
    });
  </script>

  <link href="/static/admin/libs/fullcalendar/main.min.css" rel="stylesheet">
  <script src="/static/admin/libs/fullcalendar/main.min.js"></script>

{% endblock %}
