{% extends "/admin/base.jinja2" %}
{% block extra_head %}
  <style>
      html,
      body {
          height: 100%;
      }

      body {
          background-color: #ffffff;
          display: -ms-flexbox;
          display: -webkit-box;
          display: flex;
          -ms-flex-align: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-image: url("/static/admin/assets/img/bg.jpg");
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
      }

      .form-signin {
          width: 100%;
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
      }

      .form-signin .checkbox {
          font-weight: 400;
      }

      .form-signin .form-control {
          position: relative;
          box-sizing: border-box;
          height: auto;
          padding: 10px;
          font-size: 16px;
      }

      .form-signin .form-control:focus {
          z-index: 2;
      }

      .form-signin #id-username {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
      }

      .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }
  </style>
{% endblock %}
{% block body_class %}login-page text-center{% endblock %}
{% block additional_assets %}

{% endblock %}
{% block content %}
  <div id="login-form" class="login-form">
    <img class="mb-4" src="/static/admin/assets/img/logo.png" alt="" style="max-height: 80px;">
    <form class="form-signin" @submit.prevent="login(username, password, '{{ request.GET.get("next", "/web/") }}')">
      {% raw %}
      <div class="alert" :class="'alert-' + message.type" v-for="message in messages">{{ message.message }}</div>
      {% endraw %}
      <div class="form-group">
        <label for="id-username" class="sr-only">{{ gettext('Email address') }}</label>
        <input id="id-username" class="form-control form-control-lg" name="username" v-model="username"
               placeholder="{{ gettext('Email address') }}" autofocus>
        <label for="id-password" class="sr-only">{{ _('Password') }}</label>
        <input id="id-password" class="form-control form-control-lg" type="password" v-model="password" name="password"
               placeholder="{{ gettext('Password') }}">
      </div>
      <div class="form-group">
        <button :disabled="loading" type="submit"
                class="btn btn-primary btn-block btn-lg">
          {{ gettext('Sign in') }}
        </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block page_loaded %}
  <script>
  let loginApp = Vue.createApp({
    data() {
      return {
        messages: [],
        loading: false,
        username: '',
        password: '',
      }
    },
    methods: {
      async login(username, password, next) {
        let res = await Katrid.Services.post('/web/login/', {username, password, next});
        if (res.ok) {
          this.messages = [{type: 'success', message: res.message}];
          setTimeout(() => location.href = next || '/web/');
        }
        else
          this.messages = [{type: 'danger', message: res.message}];
      }
    }
  }).mount('#login-form');
  </script>
{% endblock %}
