{% extends "/web/base.html" %}
{% import "/web/include/menu-utils.html" as menu_utils %}
{% block content %}
  <div id="page-content">

  <!-- Fixed navbar -->
  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="header-link hide-left-menu" href="javascript:void(0)">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#/app/?#menu_id=" class="navbar-menu-header">
      <h3>Nome do Menu</h3>
    </a>
    <div id="navbar" class="collapse navbar-collapse" ng-init="current_menu={{ current_menu.pk }}">
      <ul class="navbar-nav mr-auto modules">
        {% for menu in root_menu %}
        <li class="nav-item dropdown" ng-class="{active: current_menu === {{ menu.pk }} }" aria-haspopup="true" aria-expanded="false">
          <a class="nav-link module-selector dropdown-link" role="button"
             test-ng-click="current_menu={{ menu.pk }};" data-menu-id="{{ menu.pk }}"
             href="#/menu/{{ menu.pk }}/">
            {% if menu.icon %}{{ menu.icon }}{% endif %} {{ gettext(menu.name) }}
          </a>
          {{ menu_utils.dropdown_menu(menu) }}
        </li>
        {% endfor %}
      </ul>
      <input id="navbar-search" type="text" class="form-control form-control-dark" placeholder="{{ gettext('Find resources here...') }}">
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="dropdown">
          <a href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false" ng-show="false">{{ gettext('Shortcuts') }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-haspopup="true" aria-expanded="true">
          </ul>
        </li>
      </ul>
      <ul id="static-nav" class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/web/query/" target="_blank" title="{{ gettext('Query Editor') }}">
            <i class="fa fa-database"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="dropdown-toggle nav-link" href="javascript:void(0);" data-action="messages" title="View notifications"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <!--
            <span class="label label-warning label-menu-corner">32</span>
            -->
          </a>
          <ul class="dropdown-menu dropdown-notifications-menu animated flipInY">
          </ul>

        </li>
        <li class="nav-item">
          <a class="nav-link btn-voice-command" href="javascript:void(0);" onclick="$(this).toggleClass('active');Katrid.Speech.voiceCommand.toggle();" data-action="voiceCommand" title="Execute command voice">
            <i class="fa fa-microphone"></i>
          </a>
        </li>
        <li class="nav-item hidden-xs">
          <a class="nav-link" href="javascript:void(0);" data-action="fullScreen" title="Full Screen" onclick="Katrid.UI.toggleFullScreen()">
            <i class="fa fa-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/web/logout/" title="Logout"><i class="fa fa-lg fa-sign-out"></i></a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>


  <!-- Left Menu -->
  <aside id="left-menu" class="sidebar bg-light" style="display: none;">
    <div class="left-menu-content">
    <div class="logo-area text-center">
      <a href="/web/" class="avatar">
        <img id="logo" src="/web/company/logo/">
      </a>

{#      <div class="user-info">#}
{#        <small>{CONFIG DASHBOARD}</small><br>#}
{#        <span class="user-value">0</span><span> {{ _('Messages') }}</span><br>#}
{#        <span class="user-value">0</span><span> Pendências</span>#}
{#      </div>#}
      <div class="clearfix"></div>

      <a class="user-profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>{{ g.user.name }}</span>
        <span class="user-dropdown"><i class="fa fa-fw fa-angle-down"></i></span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/web/logout/"><i class="fa fa-fw fa-sign-out"></i> {{ gettext('Sign out') }}</a>
      </div>
    </div>
    <div class="module-menu d-block d-sm-none dropdown">
      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ gettext(current_menu.name) }} <i class="pe pe-7s-right-arrow pull-right"></i></a>
      <div class="dropdown-menu">
        {% for menu in root_menu %}
        <a class="dropdown-item" ng-click="current_menu={{ menu.pk }}" href="javascript:void(0)">{% if menu.icon %}{{ menu.icon }}{% endif %} {{ gettext(menu.name) }}</a>
        {% endfor %}
      </div>
    </div>

    <!-- menu -->
    <nav class="sidebar-nav">
      {% for current_menu in root_menu %}
      <ul id="left-side-menu" class="nav flex-column" data-menu-id="{{ current_menu.pk }}" ng-show="current_menu==={{ current_menu.pk }}">
        {% for menu in current_menu.children %}
          {{ menu_utils.menu_item(menu) }}
        {% endfor %}
      </ul>
      {% endfor %}
    </nav>
    <!-- /menu -->
  </div>

  </aside>

  <!-- End Left Menu -->

  <div id="main-content" role="main">
    <div id="katrid-action-view" ng-controller="AppController"></div>
{#    <div ui-view id="katrid-action-view">#}
{#      <h4 id="h-loading" class="ajax-loading-animation"><i class="fa fa-refresh fa-spin"></i> <span ng-bind="::_.gettext('Loading...')"></span></h4>#}
{#    </div>#}
  </div>
  <!-- /container -->

  <footer id="footer" class="page-footer" ng-if="false">
    <div class="pull-right">
      Log History
    </div>
    &copy; Katrid 2015-2018
  </footer>

<!--  <div id="demo-settings" title="Theme settings">
    <span class="demo"><i class="fa fa-lg fa-gear"></i></span>
  </div>
-->

  </div>

{% endblock %}
{% block page_loaded %}
  <!-- menu-startup -->
  <script>
    $('.menu-item').each(function () {
      var li = $(this);
      if (li.find('.menu-item').length) li.children('a').append('<em class="fa fa-angle-left"></em>')
    });
    $('.menu-item>a').click(function (event) {
      var el = $(this);
      var li = el.parent();
      if (li.children('ul').length) {
        li.toggleClass('open');
        var span = li.children('a').children('em.fa');
        span.toggleClass('fa-angle-left');
        span.toggleClass('fa-angle-down');
      }
    });
  </script>
  <script>
    $(Katrid).on('app.run', function () {
      var url = window.location.href.split('/');
      url = url[url.length - 1];

      $('ul.nav a[href="' + url + '"]').addClass('active').parent().parent().addClass('in').parent().addClass('active');

      // It will also work for relative and absolute hrefs
      $('ul.nav a').filter(function () {
        return this.href == url;
      }).addClass('active').parent().parent().addClass('in').parent().addClass('active');


      var loadingTimeout;
      var loadingMsg = $('#loading-msg').hide();
      $(document).ajaxStart(function() {
        loadingTimeout = setTimeout(function() {
          loadingMsg.show();
        }, 700);
      })
      .ajaxStop(function() {
        clearTimeout(loadingTimeout);
        loadingMsg.hide();
      });

    });

    $(Katrid).on('appReady', () => {
      return;
      let url = window.location.href.split('#')[1].split('?')[0];
      let el = $(`li.menu-item a[href$="${url}"]`);
      if (el.length) {
        let scope = angular.element(el).scope();
        scope.current_menu = el.closest('#left-side-menu.nav').data('menu-id');
        scope.$apply();
      }
    });
  </script>
  <!-- end menu -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>

  <script>
    $(Katrid).on('app.ready', function () {
      $.each($('a.module-selector'), function (idx, el) {
        var href = $(el).attr('href');
        if (window.location.pathname === href) $(el).addClass('active');
      });

      $.each($('.menu-item>a'), function (idx, el) {
        el = $(el);
        if (el.attr('href') === "#") el.attr('href', 'javascript:void(0)');
      });

      // navbar search
      var items = [];
      $('.menu-item>a').each(function (idx, el) {
        el = $(el);
        items.push({href: el.attr('href'), name: el.text().trim()});
      });
      if (Katrid.speech)
        Katrid.speech.voiceCommand.addCommands(items);
      var el = $('#navbar-search').autocomplete(
          {
            source: function (request, response) {
              var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
              response($.grep(items, function (value) {
                return matcher.test(value.name);
              }));
            },
            select: function (ev, ui) {
              if (ui.item) window.location.href = ui.item.href;
              el.val(ui.item.name);
            }
          });
      el.data('ui-autocomplete')._renderItem = function (ul, item) {
        console.log('<a href="' + item.href + '">' + item.name + '</a>');
        return $('<li></li>')
            .data('item.autocomplete', item)
            .append('<div>' + item.name + '</div>')
            .appendTo(ul);
      };

      if (!window.location.hash) {
        var href = $('a.menu-item-action').first().attr('href');
        if (href) window.location.href = href;
      }

    });
  </script>
{% endblock %}
