extends view.form.field.pug

block span

block field
    div.image-box.image-field
        img(ng-src=attrs.ngSrc)
        div.text-right.image-box-buttons
            button.btn.btn-default(type='button', title=Katrid.i18n.gettext('Change'), onclick="$(this).closest('.image-box').find('input').trigger('click')")
                i.fa.fa-pencil
            button.btn.btn-default(type='button', title=Katrid.i18n.gettext('Clear'), ng-click="$set(" + attrs.name + ", null)")
                i.fa.fa-trash
        input(type="file", file-reader, accept='image/*', ng-model=attrs['ng-model'])
