{% extends "/web/base.html" %}
{% block content %}
  <div class="row col-12 margin-top-16">
    <form id="query-form" class="col-sm-6" action="." method="get">
      <select class="form-control" id="query" name="id">
        <option value=""></option>
        {% for cat, queries in categories.items() %}
          <optgroup label="{{ cat }}">
          {% for q in queries %}
            <option value="{{ q.id }}">{{ q }}</option>
          {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </form>
  </div>
  <div class="col-12 margin-top-16">
  <table id="table">
    <thead>
    <tr class="filter">
      {% for field in query.fields %}
        <th>{{ field }}</th>
      {% endfor %}
    </tr>
    <tr>
    {% for field in query.fields %}
      <th>{{ field }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in query.data %}
      <tr>
      {% for col in row %}
        <td>{{ col }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}
{% block page_loaded %}
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script src="//cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#query').on('change', () => {
        $('#query-form').submit();
      });
    });
    $(document).ready(function () {

      $('#table thead tr.filter th').each(function (idx) {
        var title = $(this).text();
        $(this).html('<input class="search-col-' + idx + '" type="text" placeholder="Pesquisar ' + title + '" />');
      });

      let timeout;

      let table = $('#table').DataTable({
        paging: false,
        dom: 'Bfrtip',
        buttons: [
          'copyHtml5'
        ],
      });
      // Apply the search
      table.columns().every(function (idx) {
        var that = this;

        $('input.search-col-' + idx).on('keyup change', function () {
          console.log('key up', that);
          if (that.search() !== this.value) {
            clearTimeout(timeout);
            timeout = setTimeout(() => {
              that
              .search(this.value)
              .draw();
            }, 1000);
          }
        });
      });
    });
  </script>
{% endblock %}
